.contents {

    text-align: center;

    line-height: 1.5

}



.profile{

    text-align: center;

    line-height: 1.5

}



body{

    background-color: rgb(174, 223, 124);

    font-family: 'Gugi', cursive;

}