.container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.box {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  font-size: 30px;
  color: black;
}
.box:nth-child(1){
    background-color:red;
}
.box:nth-child(2){
    background-color:orange;
}
.box:nth-child(3){
    background-color: yellow;
}
.box:nth-child(4){
    background-color: rgb(0, 255, 0);
}
.box:nth-child(5){
    background-color: rgb(38, 0, 255);
}