body{
    background-color: white;
}


.ssd{
    position:relative;
    width:100%; height:300px;
}

span {
    display: inline-block;
    text-align: center;
    font-size:90px;
    font-family: 'Inter', sans-serif;
}
span:nth-child(1) {
    color : rgb(0, 38, 255);
}

span:nth-child(2) {
    color : rgb(255, 0, 0);
}

span:nth-child(3) {
    color : rgb(241, 241, 76);
}

span:nth-child(4) {
    color : rgb(38, 0, 255);
}


span:nth-child(5) {
    color : rgb(50, 233, 89);
}

.Container{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    width: 50px;
}

.name{
    position:relative;
    text-align: center;
    top:160px;
}


.td{
    position:relative;
    width:100%;height:90px;
    display: flex;
    justify-content: center;
}


input{
    position:relative;
    margin:10px;
    height: 40px;
    width: 400px;top:2px;
    display: flex;
    justify-content: center;
    border: white;
    font-size: inherit;
    font-family: inherit;
}
.serd{
    margin:10px;
    position:absolute;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 548px;
}


.sd{
    position:relative;
    height:42px;width:42px;right:40px;bottom:50px;
}

.sectionthree{
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    margin-top: -1.5%;
    margin-right: -14%;
    margin-left: 15.9%;  border-radius: 5px;
    background-color: f9f9fa;
    border: 0;
    padding: 2% 4%;
}
