body{
    font-family: 'Poor Story', cursive; 
    font-size: x-large;
}

p{
    font-family: 'Single Day', cursive; font-size: 200%;
}

div{
    width: 600px;
    height: 50px;
}

.box2{background-color:tan;padding: 25px;
    margin:20px 20px 20px 725px; 
    font-size: 30px;
    font-weight:lighter
}