.t1{
    width: 100px;
    height: 100px;
    background: rgb(0, 247, 255);

}

.e1{
    width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 100px solid red;
      border-bottom: 50px solid transparent;

}

.t2{
    width: 100px;
    height: 100px;
    background: rgb(0, 247, 255);

}

.e2{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}

.t3{
    width: 100px;
    height: 100px;
    background: rgb(0, 247, 255);

}

.e3{
    width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 100px solid red;
      border-bottom: 50px solid transparent;
}

.t4{
    width: 100px;
    height: 100px;
    background: rgb(0, 247, 255);

}

.e4{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}